<ion-view title="{{ 'friends.add_from_contacts' | translate }}">
    <ion-nav-buttons side="right">
        <button class="button button-outline button-positive icon-left ion-android-add" style="font-size: 18pt" ng-click="addSelectedContacts()"> &nbsp;{{ 'add' | translate }}</button>
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header" style="background-color: #f2f2f2">
        <div class="button-bar">
            <button class="button button-positive button-block" style="font-size: 18pt" ng-click="setAll(true)">{{ 'select_all' | translate }}</button>
            <button class="button button-outline button-positive button-block" style="font-size: 18pt" ng-click="setAll(false)">{{ 'deselect_all' | translate }}</button>
        </div>
        <ion-list style="font-size: 18pt">
            <ion-checkbox ng-repeat="contact in contacts"
                          ng-model="contact.checked"
                          ng-checked="contact.checked" style="font-size: 18pt">
                {{ contact.displayName }} {{ contact.phoneNumbers[0].type }}
            </ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>