<ion-view title="Friend Details">
  <ion-content padding="true" class="has-header">
    <ion-item class="item-avatar" type="item-text-wrap">
      <img ng-src="{{serverIconAddress + friend.icon}}">
      <h2>{{friend.name}}</h2>
    </ion-item>
    <form>
      <label class="item item-input">
        <span class="input-label">{{ 'friends.contact_number' | translate }}</span>
        <span class="input-label">{{friend.phone_number}}</span>
      </label>
    </form>
    <div class="button-bar">
      <a class="button button-positive button-block" href="#/tab/social/{{friend.ID}}">{{ 'friends.go_to_social' | translate }}</a>
      <a class="button button-positive button-outline button-block" href="#/tab/chats/{{friend.ID}}">{{ 'friends.chat' | translate }}</a>
    </div>
    <div style="height: 50px;"></div>
  </ion-content>
</ion-view>
