<ion-view title="{{ 'friends.friend_requests' | translate }}">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-button-right"
                    ng-repeat="req in requests">
                {{req.name}}
                <div class="buttons">
                    <button class="button button-positive"
                            ng-click="accept($index)">
                        {{ 'accept' | translate }}
                    </button>
                    <button class="button button-assertive"
                            ng-click="ignore($index)">
                        {{ 'ignore' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>