<ion-view view-title="{{friend.name}}">
    <ion-nav-buttons side="right">
        <button class="button icon ion-more"
                ng-show="isGroupChat"
                ng-click="manageGroup()"> </button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-footer="true" has-tabs="true"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true"
                 padding="true" style="text-align: center">
        <!--ion-content's text-align is used to center system_message-->
        <button class="button button-clear button-positive button-block"
                ng-show="canLoadMore"
                ng-click="loadMoreChatHistory();">
            {{ 'chat.load_more' | translate }}
        </button>
        <span ng-show="!canLoadMore" class="system_message">
            {{ 'chat.no_more_message' | translate }}
        </span>
        <div ng-repeat="message in messages"
             ng-class="{from_me: message.from_user_id == myId}"
             class="messages">
            <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}" ng-click="playAudio(message)">
                <img ng-src="{{(message.from_user_id == myId && serverIconAddress + myId  || serverIconAddress + message.from_user_id) + '.jpg'}}"
                     class="message_icon">
                <span class="message_body">{{ message.text_content }}</span>
            </div>

            <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">
                {{message.timestamp}}
            </div>
        </div>
        <div style="height: 70px;"></div>
    </ion-content>

    <div ng-show="!isInVoiceMessageMode" class="bar bar-footer bar-light has-tabs item-input-inset">
        <button class="button button-icon icon ion-mic-a" ng-click="isInVoiceMessageMode = !isInVoiceMessageMode"></button>
        <label class="item-input-wrapper">
            <input type="search" ng-model="messageToSend"
                   placeholder="{{ 'chat.type_your_message' | translate }}">
        </label>
        <button class="button button-clear button-positive" ng-click="sendMessage(messageToSend); messageToSend=''">
            {{ 'chat.send' | translate }}
        </button>
    </div>


    <div ng-show="isInVoiceMessageMode" class="bar bar-footer has-tabs bar-light">
        <button class="button button-icon icon ion-chatbox-working" ng-click="isInVoiceMessageMode = !isInVoiceMessageMode"> </button>
        <div class="title"><button class="button button-clear button-positive"
                ng-click="record()">
            {{ 'chat.hold_to_record' | translate }}
        </button></div>
    </div>
</ion-view>
