<ion-view title="Verify Your Phone">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                We have sent a verification code to your phone. Please enter it below.
            </p>
        </div>
        <form>
            <label class="item item-input">
                <span class="input-label">Verification Code</span>
                <input type="text" placeholder="" ng-model="code">
            </label>
            <button class="button button-positive button-block" ng-click="verify(code)">Verify</button>
            <button class="button button-positive button-clear button-block" ng-click="send_code_again()">Or send verification code again</button>
            <ion-checkbox>Import my phone contacts</ion-checkbox>
        </form>
    </ion-content>
</ion-view>