
.background-dark-orange, .bar.background-dark-orange, .button.background-dark-orange{
    background-color: #F68F3C !important;
}

.background-light-orange{
    background-color: #F8BD63 !important;
}

.background-light-white{
    background-color: #FAF6F1 !important;
}

.content-dark-orange{
    color: #F68F3C !important;
    font-size: 16px !important;
}

.content-light-orange{
    color: #F8BD63 !important;
    font-size: 16px !important;
}

.content-light-white, .bar.content-light-white, .bar.bar-stable .title {
    color: #FAF6F1 !important;
    font-size: 16px !important;
}

.subtab-icon {
    color : #F68F3C !important;
    font-size: 14px !important;
}

.tab-item.tab-item-active.subtab-icon, .tab-item.active.subtab-icon, .tab-item.activated.subtab-icon {
    background-color: #F68F3C;
    color: #FAF6F1 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FAF6F1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FAF6F1 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FAF6F1 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FAF6F1 !important;
}

*{
    border-color: #F68F3C !important;
}