/* Empty. Add your own CSS if you like */
.user-messages-top-icon {
  color: #007AFF;
}
.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.tab-icon {
    color : white !important;
}

.system_message {
    display: inline-block !important;
    padding: 5px !important;
    border-radius: 10px !important;
    text-align: center !important;
    max-width: 240px !important;
    color: #ffffff !important;
    background-color: lightgrey !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
}
.messages .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.time {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    width: 120px !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    -webkit-transform: translate3d(10px, 0, 0) !important;
    -moz-transform: translate3d(10px, 0, 0) !important;
    transform: translate3d(10px, 0, 0) !important;
}
.time.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
}

.messages.from_me .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}
.messages.from_me .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
}
.messages.from_me .message_body {
    color: white !important;
    background: #007AFF !important;
    vertical-align: top;
}

.message_body {
    color: black !important;
    background-color: #C7C7CC !important;
    display: inline-block !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
    vertical-align: top;
}

.messages .message_icon {
    width: 40px;
    height: 40px;
}

.messages.from_me .message_icon {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 5px;
}