<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->


<ion-view view-title="{{chat.name}}">

    <ion-content class="padding">
      <div class="button-bar">
        <a class="button button-large button-clear button-positive icon-center ion-videocamera" href="#/tab/chats/{{chat.id}}/video"> Video Call</a>
        <a class="button button-large button-clear button-positive icon-center ion-android-call"  href="#/tab/chats/{{chat.id}}/voice"> Voice Call</a>
      </div>
      <div class="message-wrapper">
          <div>
              <img ng- class="profile-pic left" ng-src="{{chat.face}}"/>
              <div class="chat-bubble left">
                <p>
                  {{chat.lastText}}
                </p>
              </div>
          </div>
      </div>
    </ion-content>


  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-light item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
        <button class="button button-block icon-center ion-record button-positive" type="submit">Record</button>
      </label>
      <!--
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                ng-disabled="!input.message || input.message === ''">
        </button>
      </div>
      -->
    </ion-footer-bar>
  </form>
</ion-view>

