<ion-view view-title="Add Friend">

    <ion-content>

        <ion-list>
            <ion-item class="item-button-right" ng-repeat="phoneContactListPerson in phoneContactListPeople" type="item-text-wrap"
                    style="align-items: center">

            <img ng-src="{{phoneContactListPerson.face}}" width="40px" height="40px" style="border-radius: 50%; position: relative; vertical-align: middle">
            <text>  {{phoneContactListPerson.name}}</text>
                <button ng-click="addFriendClick()" ng-disabled="{{buttonDisable}}" class="button button-positive" style="vertical-align: middle">{{ request.status }}</button>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
