<ion-view view-title="{{ 'tab.community' | translate }}">
<ion-content style="background-color: #f2f2f2">
    <ion-refresher style="font-size: 18pt"
            pulling-text="{{ 'pull_to_refresh' | translate }}"
            on-refresh="refresh()">
    </ion-refresher>

        <ion-list>
            <a class="item item-icon-left" href="#/tab/community/calendar" style="color: white; font-size: 18pt;background: #2C63F0 ">
                <i class="icon ion-ios7-calendar" style="color: white"></i>
                {{ 'community.calendar' | translate }}
                <span class="badge badge-assertive">{{requests.length}}</span>
            </a>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap"
                      ng-repeat="community in communitys" ng-click="read(community.id)" style="min-height: 100pt">
                <img ng-src="../www/img/{{ community.img }}">
                <h2 style="font-size: 18pt">{{ community.name }}</h2>
                <p>   </p>
                <p style="font-size: 18pt" ng-show="status(community.id)">{{'community.joined'| translate}}</p>
                <i class="button button-large button-clear button-positive icon ion-person-add icon-accessory" style="font-size: 18pt; margin-top:4%" ng-hide="joined(community.id)" ng-click="joinCom(community.id)">{{'community.join'| translate}}</i>
                <span class="badge badge-assertive" style="margin-top: 2%" ng-hide="(hasRead(community.id) || !joined(community.id))" ng-click="read(community.id)">1</span>
                <i class="icon ion-chevron-right icon-accessory custom-icon" ng-show="(hasRead(community.id) && joined(community.id))"></i>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
