<ion-view view-title="Health">

  <ion-nav-buttons side="left">
      <button class="icon-left ion-chevron-left button-clear home-icon button-dark home-icon" ng-click="home()">
        Home
      </button>
  </ion-nav-buttons>
  
  <ion-content scroll="false">
    
    <button class="button button-full button-light icon-right ion-chevron-right" style="margin: 0; padding: 0; padding-right: 10px; height: 25%"> 
        <div class="health-data">My Health Data</div>
    </button>
        <button class="button button-full button-light icon-right ion-chevron-right" style="margin: 0; padding: 0; padding-right: 10px; height: 25%"> 
        <div class="health-magazine">Health Magazine</div>
    </button>
    <button class="button button-full button-light icon-right ion-chevron-right" style="margin: 0; padding: 0; padding-right: 10px; height: 25%"> 
        <div class="health-products">Health Products</div>
    </button>
    <button class="button button-full button-light icon-right ion-chevron-right" style="margin: 0; padding: 0; padding-right: 10px; height: 25%"> 
        <div class="health-recipes">Health Recipes</div>
    </button>
  </ion-content>
</ion-view>
