<ion-view view-title="Memory">
  <ion-nav-buttons side="left">
      <button class="icon-left ion-chevron-left button-clear home-icon button-dark home-icon" ng-click="home()">
        Home
      </button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-striped tabs-background-light tabs-color-assertive tabs-top ">
    <ion-tab  title="Tab Test 1" >
        <ion-nav-view class="has-tabs-top" name="test">Test 1</ion-nav-view>
    </ion-tab>

    <ion-tab title="Tab Test 2" >
        <ion-nav-view class="has-tabs-top" name="test2">Test 2</ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
