
<ion-view view-title="{{ 'tab.me' | translate }}">
  <ion-content>
    <ion-list>
        <ion-item class="item-avatar" type="item-text-wrap">
            <img ng-src="{{serverIconAddress + user.icon}}">
            <h2>{{user.name}}</h2>
            <p>{{user.phone_number}}</p>
        </ion-item>
        <ion-item class="item-divider">{{ 'account.usage' | translate }}</ion-item>
        <div class="container-fluid">
            <activity-chart data="data" title="" style="width: 570px;
            height: 400px;
            text-align: left;"></activity-chart></div>

        <ion-item class="item-divider">{{ 'account.general' | translate }}</ion-item>
      <label class="item item-select">
        <span class="input-label" style="align-self: center">{{ 'account.language' | translate }}</span>
        <select ng-model="currentLanguage"
                ng-options="k as k for (k, v) in translations"
                ng-change="setLanguage(currentLanguage);" style="margin-top: 1.5%">
        </select>
      </label>
        <a class="button button-block button-assertive"
           href="#/init/login">
          {{ 'account.logout' | translate }}
        </a>
    </ion-list>
    <div style="height: 50px;"></div>
  </ion-content>
</ion-view>
