<ion-view view-title="Moments">
    <ion-nav-buttons side="secondary">
        <button class="button icon ion-camera">
            New
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card">
            <!--header with user names and time-->
            <a class="item item-avatar">
                <img src="../www/img/ionic.png">

                <h2>author.nickname</h2>

                <p>posted at: 11:59pm</p>
            </a>

            <!--body part, display text and picture if any-->
            <div class="item item-body">
                <!--Picture display-->
                <span>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                    <img style="width: 100px; height: 100px"
                         src="../www/img/test.jpg"/>
                    <img style="width: 100px; height: 100px"
                         src="../www/img/test.jpg"/>
                    <img style="width: 100px; height: 100px"
                         src="../www/img/test.jpg"/>
                </span>
            </div>
            <!--icon bars to display comment and like bar-->
            <div class="item tabs tabs-secondary tabs-icon-left">
                <span class="tab-item" ng-hide="isliked()" ng-click="like()">
                    <i class="icon ion-thumbsup"></i>
                    Like it!
                </span>
                <span class="tab-item" ng-show="isliked()" ng-click="dislike()">
                    <i class="icon ion-thumbsdown"></i>
                    Unlike it!
                </span>
            </div>
        </div>



        <div class="list card">
            <!--header with user names and time-->
            <a class="item item-avatar">
                <img src="../www/img/ionic.png">

                <h2 class="content-light-white">author.nickname</h2>

                <p class="content-light-white">posted at: 11:59pm</p>
            </a>

            <!--body part, display text and picture if any-->
            <div class="item item-body">
                <!--Picture display-->
                <span>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                        <img style="width: 100px; height: 100px"
                             src="../www/img/test.jpg"/>
                        <br/>
                </span>
            </div>
            <!--icon bars to display comment and like bar-->
            <div class="item tabs tabs-secondary tabs-icon-left">
                <span class="tab-item" ng-hide="isliked()" ng-click="like()">
                    <i class="icon ion-thumbsup"></i>
                    Like it!
                </span>
                <span class="tab-item" ng-show="isliked()" ng-click="dislike()">
                    <i class="icon ion-thumbsdown"></i>
                    Unlike it!
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>
