<ion-view title="Family">

    <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-top tabs-secondary family-tabs">

        <!-- Chats Tab -->
        <ion-tab title="{{ 'tab.chat' | translate }}" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes"
                 href="#/tab/family/chats"
                 badge="chatCount" badge-style="badge-assertive"
                 class="subtab-icon">
            <ion-nav-view name="tab-family-chats"></ion-nav-view>
        </ion-tab>

        <!-- Friends Tab -->
        <ion-tab title="{{ 'tab.friends' | translate }}" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart"
                 href="#/tab/family/friends" class="subtab-icon">
            <ion-nav-view name="tab-family-friends"></ion-nav-view>
        </ion-tab>

        <!-- Circle Tab -->
        <ion-tab title="{{ 'tab.social' | translate }}" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong"
                 href="#/tab/family/social" class="subtab-icon">
            <ion-nav-view name="tab-family-social"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="{{ 'tab.me' | translate }}" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear"
                 href="#/tab/family/account" class="subtab-icon">
            <ion-nav-view name="tab-family-account"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>