<ion-view view-title="Community-event">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-thumbnail-left" >

        <img src="../www/img/Tai Chi Quan.gif" width="30%" height="30%">
        <h2>Tai Chi Quan Workshop</h2>
        <p>Jennifer Chung is a Tai Chi trainer and Master Trainer</p>
        <p>Date: 01 Nov 2015</p>
        <p>Time: 6:30-7:30pm</p>
        <div class="list card">

          <a ng-click="joinIt()" class="item item-icon-left" ng-show="{{toJoin()}}">
            <i class="icon ion-checkmark-round"></i>
            Join
          </a>
          <a ng-click="cancel()" class="item item-icon-left" ng-hide="{{toJoin()}}">
            <i class="icon ion-close-circled"></i>
            Cancel
          </a>
      </div>
    </div>
    </div>

    <div class="list card" href="#/tab/community/event">
      <div class="item item-divider"></div>
      <div class="item item-thumbnail-left" >

        <img src="../www/img/tai chi exercise.jpg" width="30%" height="30%">
        <h2>Tai Chi Quan Morning Exercise</h2>Tai Chi Exercise
        <p>Meet in Chinese Garden to do Tai Chi Quan as morning exercise together</p>
        <p>Date: Every day</p>
        <p>Time: 6:00-7:00am<</p>
        <div class="list card">
          <a ng-click="joinIt()" class="item item-icon-left" ng-show="{{toJoin()}}">
            <i class="icon ion-checkmark-round"></i>
            Join
          </a>
          <a ng-click="cancel()" class="item item-icon-left" ng-hide="{{toJoin()}}">
            <i class="icon ion-close-circled"></i>
            Cancel
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
