<ion-view view-title="Community">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" href="#/tab/community/event">
        <img ng-src="../www/img/Tai Ji.jpg">
        <h2>Tai Chi</h2>
        <p>Joined</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>


      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" href="">
        <img ng-src="../www/img/social dance.jpg">
        <h2>Social Dance</h2>
        <p>Joined</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>


      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" href="">
        <img ng-src="../www/img/chess.png">
        <h2>Chess</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-android-person-add icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
