# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
resources/
www/amcharts_3.17.2.free/
www/amcharts_3.17.2.free/amcharts/
www/amcharts_3.17.2.free/test/
